openapi: 3.0.3

info:
  title: ZapomniSystems GiftService
  version: 1.0.0
  description: Программный интерфейс
  license:
    name: Коммерческая

servers:
  - url: https://gift-service.null.zapomni.systems/api/admin/v1

paths:
  /tag:
    post:
      summary: Создание тэга
      x-exegesis-controller: tag.controller
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _classname:
                  type: string
                  example: "certificateTag"
                  description: "Имя класса тэга"
                name:
                  type: object
                  properties:
                    ru:
                      type: string
                      example: "Название"
                      description: "Название тэга на русском языке"
                description:
                  type: string
                  example: "This is a sample tag"
                  description: "Описание тэга"
                summary:
                  type: string
                  example: "Sample summary"
                  description: "Краткое описание тэга"
                media:
                  type: string
                  example: "http://example.com/media"
                  description: "Ссылка на медиафайл, связанный с тэгом"
              example:
                _classname: "certificateTag"
                name:
                  ru: "Название"
                description: "This is a sample tag"
                summary: "Sample summary"
                media: "http://example.com/media"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "789e4567-e89b-12d3-a456-426614174000"
                    description: "Уникальный идентификатор созданного тэга"
                  _classname:
                    type: string
                    example: "certificateTag"
                    description: "Имя класса тэга"
                  name:
                    type: object
                    properties:
                      ru:
                        type: string
                        example: "Название"
                        description: "Название тэга"
                  description:
                    type: string
                    example: "This is a sample tag"
                    description: "Описание тэга"
                  summary:
                    type: string
                    example: "Sample summary"
                    description: "Краткое описание тэга"
                  media:
                    type: string
                    example: "http://example.com/media"
                    description: "Ссылка на медиафайл, связанный с тэгом"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    id: "789e4567-e89b-12d3-a456-426614174000"
                    _classname: "certificateTag"
                    name:
                      ru: "Название"
                    description: "This is a sample tag"
                    summary: "Sample summary"
                    media: "http://example.com/media"

    get:
      summary: Получить все тэги
      x-exegesis-controller: tag.controller
      operationId: getAllTag
      parameters:
        - name: page
          in: query
          description: Номер страницы
          required: false
          schema:
            type: integer
            minimum: 1
        - name: count
          in: query
          description: Количество элементов на странице
          required: false
          schema:
            type: integer
            minimum: 1
        - name: conditions
          in: query
          description: Условия фильтрации
          required: false
          schema:
            type: object
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        _classname:
                          type: string
                          example: "certificateTag"
                          description: "Имя класса тэга"
                        name:
                          type: object
                          properties:
                            ru:
                              type: string
                              example: "Название"
                              description: "Название тэга на русском языке"
                        description:
                          type: string
                          example: "This is a sample tag"
                          description: "Описание тэга"
                        summary:
                          type: string
                          example: "Sample summary"
                          description: "Краткое описание тэга"
                        media:
                          type: string
                          example: "http://example.com/media"
                          description: "Ссылка на медиафайл, связанный с тэгом"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-07-05T12:07:24.826Z"
                          description: "Дата и время последнего обновления"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                          description: "Дата и время удаления (если применимо)"
                        uid:
                          type: string
                          example: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                          description: "Уникальный идентификатор тэга"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-07-05T12:07:24.826Z"
                          description: "Дата и время создания"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    items:
                      - _classname: "certificateTag"
                        name:
                          ru: "Название"
                        description: "This is a sample tag"
                        summary: "Sample summary"
                        media: "http://example.com/media"
                        updatedAt: "2024-07-05T12:07:24.826Z"
                        deletedAt: null
                        uid: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                        createdAt: "2024-07-05T12:07:24.826Z"

  /tag/{uid}:
    get:
      summary: Получить один тэг по UID
      x-exegesis-controller: tag.controller
      operationId: getOneTag
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "789e4567-e89b-12d3-a456-426614174000"
                    description: "Уникальный идентификатор тэга"
                  _classname:
                    type: string
                    example: "certificateTag"
                    description: "Имя класса тэга"
                  name:
                    type: object
                    properties:
                      ru:
                        type: string
                        example: "Название"
                        description: "Название тэга"
                  description:
                    type: string
                    example: "This is a sample tag"
                    description: "Описание тэга"
                  summary:
                    type: string
                    example: "Sample summary"
                    description: "Краткое описание тэга"
                  media:
                    type: string
                    example: "http://example.com/media"
                    description: "Ссылка на медиафайл, связанный с тэгом"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    id: "789e4567-e89b-12d3-a456-426614174000"
                    _classname: "certificateTag"
                    name:
                      ru: "Название"
                    description: "This is a sample tag"
                    summary: "Sample summary"
                    media: "http://example.com/media"

    put:
      summary: Изменить один тэг по UID
      x-exegesis-controller: tag.controller
      operationId: editTagByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _classname:
                  type: string
                  example: "certificateTag"
                  description: "Имя класса тэга"
                name:
                  type: object
                  properties:
                    ru:
                      type: string
                      example: "Название"
                      description: "Новое название тэга"
                description:
                  type: string
                  example: "This is a sample tag"
                  description: "Описание тэга"
                summary:
                  type: string
                  example: "Sample summary"
                  description: "Краткое описание тэга"
                media:
                  type: string
                  example: "http://example.com/media"
                  description: "Ссылка на медиафайл, связанный с тэгом"
              example:
                _classname: "certificateTag"
                name:
                  ru: "Название"
                description: "This is a sample tag"
                summary: "Sample summary"
                media: "http://example.com/media"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "789e4567-e89b-12d3-a456-426614174000"
                    description: "Уникальный идентификатор тэга"
                  _classname:
                    type: string
                    example: "certificateTag"
                    description: "Имя класса тэга"
                  name:
                    type: object
                    properties:
                      ru:
                        type: string
                        example: "Название"
                        description: "Название тэга"
                  description:
                    type: string
                    example: "This is a sample tag"
                    description: "Описание тэга"
                  summary:
                    type: string
                    example: "Sample summary"
                    description: "Краткое описание тэга"
                  media:
                    type: string
                    example: "http://example.com/media"
                    description: "Ссылка на медиафайл, связанный с тэгом"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    id: "789e4567-e89b-12d3-a456-426614174000"
                    _classname: "certificateTag"
                    name:
                      ru: "Название"
                    description: "This is a sample tag"
                    summary: "Sample summary"
                    media: "http://example.com/media"

    delete:
      summary: Удалить один тэг по UID
      x-exegesis-controller: tag.controller
      operationId: removeTagByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /cert-config:
    post:
      summary: Создание конфигурации
      x-exegesis-controller: cert-config.controller
      operationId: createConfig
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                shortName:
                  type: string
                user_friendly_url:
                  type: string
                backgroundImg:
                  type: string
                certDesignUid:
                  type: string
                minimalPrice:
                  type: number
                activationPeriod:
                  type: number
                predefinedPrices:
                  type: array
                  items:
                    type: number
                tagIds:
                  type: array
                  items:
                    type: string        
                serviceFee:
                  type: number
                logo:
                  type: string
                currency:
                  type: string
                nominalModifier:
                  type: string
                activationDeadline:
                  format: date-time
                fiscalSign:
                  type: string
                advanceRedemptionDays:
                  type: number
                certificateType:
                  type: string
      responses:
        200:
          description: OK

    get:
      summary: Получить все конфиги
      x-exegesis-controller: cert-config.controller
      operationId: getAllConfig
      parameters:
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                          example: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                          description: "Уникальный идентификатор конфигурации"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время создания"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время последнего обновления"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                          description: "Дата и время удаления (если применимо)"
                        restrictionsUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов ограничений"
                        partnersUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов партнеров"
                        name:
                          type: string
                          example: "Государственный"
                          description: "Название конфигурации"
                        shortName:
                          type: string
                          example: "SCC"
                          description: "Краткое название конфигурации"
                        user_friendly_url:
                          type: string
                          example: "puppet"
                          description: "Удобная для пользователя URL"
                        title:
                          type: object
                          properties:
                            ru:
                              type: string
                              example: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                          description: "Заголовок конфигурации"
                        activationPeriod:
                          type: object
                          properties:
                            days:
                              type: integer
                              example: 30
                          description: "Период активации"
                        tags:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов тэгов"
                        description:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "This is a sample certificate configuration description in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Описание конфигурации"
                        summary:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "Sample certificate configuration summary in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Краткое описание конфигурации"
                        posterVertical:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Вертикальный постер"
                        posterHorizontal:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Горизонтальный постер"
                        background:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Фоновое изображение"
                        logo:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Логотип"
                        listImage:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Изображение списка"
                        certDesignUids:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов дизайна сертификата"
                        certDesignMedia:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Медиа дизайн сертификата"
                        pricesRange:
                          type: object
                          properties:
                            max:
                              type: number
                              nullable: true
                              example: null
                            min:
                              type: number
                              example: 200000
                          description: "Диапазон цен"
                        numberTemplate:
                          type: string
                          example: "CERT-####"
                          description: "Шаблон номера"
                        fiscalSettingsFlowUid:
                          type: string
                          nullable: true
                          example: null
                          description: "Идентификатор потока фискальных настроек"
                        predefinedPrices:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: number
                                example: 1
                              currency:
                                type: number
                                example: 1500000
                              precision:
                                type: number
                                example: 1
                          description: "Предопределенные цены"
                        singleUseOnly:
                          type: boolean
                          example: false
                          description: "Однократное использование"
                        sendAttachmentsToBuyer:
                          type: boolean
                          example: true
                          description: "Отправка вложений покупателю"
                        sendAttachmentsToGifted:
                          type: boolean
                          example: true
                          description: "Отправка вложений одаряемому"
                        serviceFee:
                          type: object
                          properties:
                            fee:
                              type: number
                              example: 10
                            value:
                              type: number
                              example: 10
                            currency:
                              type: string
                              example: "RUB"
                            operation:
                              type: string
                              example: "markup"
                            value_type:
                              type: string
                              example: "factor"
                            price_modifier:
                              type: object
                              properties:
                                value:
                                  type: number
                                  example: 10
                                operation:
                                  type: string
                                  example: "markup"
                                value_type:
                                  type: string
                                  example: "factor"
                                description:
                                  type: object
                                  properties:
                                    ru:
                                      type: string
                                      example: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                                maximum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                minimum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                formatted_value:
                                  type: string
                                  example: "+10%"
                            formatted_value:
                              type: string
                              example: "+10%"
                          description: "Сервисный сбор"
                        entity_icons:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: "название файла"
                              path:
                                type: string
                                example: "ссылка на изображение"
                              size:
                                type: number
                                example: 100327
                              type:
                                type: string
                                example: "image/png"
                              color:
                                type: array
                                items:
                                  type: integer
                                example: [36, 60, 108]
                              width:
                                type: number
                                example: 1509
                              height:
                                type: number
                                example: 946
                              palette:
                                type: array
                                items:
                                  type: array
                                  items:
                                    type: integer
                                example: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                              uploaded_at:
                                type: integer
                                example: 1635413367943
                          description: "Иконки сущности"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    items:
                      - uid: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                        createdAt: "2024-04-09T20:11:54.464Z"
                        updatedAt: "2024-04-09T20:11:54.464Z"
                        deletedAt: null
                        restrictionsUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        partnersUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        name: "Государственный"
                        shortName: "SCC"
                        user_friendly_url: "puppet"
                        title:
                          ru: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                        activationPeriod:
                          days: 30
                        tags: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        description:
                          en: "This is a sample certificate configuration description in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        summary:
                          en: "Sample certificate configuration summary in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        posterVertical:
                          en:
                            alt: "Vertical Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Vertical Poster (Russian)"
                            url: "ссылка на изображение"
                        posterHorizontal:
                          en:
                            alt: "Horizontal Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Horizontal Poster (Russian)"
                            url: "ссылка на изображение"
                        background:
                          en:
                            alt: "Background Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Background Image (Russian)"
                            url: "ссылка на изображение"
                        logo:
                          en:
                            alt: "logo"
                            url: "ссылка на изображение"
                          ru:
                            alt: "logo"
                            url: "ссылка на изображение"
                        listImage:
                          en:
                            alt: "List Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "List Image (Russian)"
                            url: "ссылка на изображение"
                        certDesignUids: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        certDesignMedia:
                          en:
                            alt: "Design Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Design Image (Russian)"
                            url: "ссылка на изображение"
                        pricesRange:
                          max: null
                          min: 200000
                        numberTemplate: "CERT-####"
                        fiscalSettingsFlowUid: null
                        predefinedPrices:
                          - amount: 1
                            currency: 1500000
                            precision: 1
                          - amount: 1
                            currency: 1000000
                            precision: 1
                          - amount: 1
                            currency: 500000
                            precision: 1
                          - amount: 1
                            currency: 200000
                            precision: 1
                        singleUseOnly: false
                        sendAttachmentsToBuyer: true
                        sendAttachmentsToGifted: true
                        serviceFee:
                          fee: 10
                          value: 10
                          currency: "RUB"
                          operation: "markup"
                          value_type: "factor"
                          price_modifier:
                            value: 10
                            operation: "markup"
                            value_type: "factor"
                            description:
                              ru: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                            maximum_value: null
                            minimum_value: null
                            formatted_value: "+10%"
                          formatted_value: "+10%"
                        entity_icons:
                          - name: "название файла"
                            path: "ссылка на изображение"
                            size: 100327
                            type: "image/png"
                            color: [36, 60, 108]
                            width: 1509
                            height: 946
                            palette: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                            uploaded_at: 1635413367943

  /cert-config/{uid}:
    get:
      summary: Получить один конфиг по UID
      x-exegesis-controller: cert-config.controller
      operationId: getOneConfig
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                          example: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                          description: "Уникальный идентификатор конфигурации"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время создания"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время последнего обновления"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                          description: "Дата и время удаления (если применимо)"
                        restrictionsUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов ограничений"
                        partnersUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов партнеров"
                        name:
                          type: string
                          example: "Государственный"
                          description: "Название конфигурации"
                        shortName:
                          type: string
                          example: "SCC"
                          description: "Краткое название конфигурации"
                        user_friendly_url:
                          type: string
                          example: "puppet"
                          description: "Удобная для пользователя URL"
                        title:
                          type: object
                          properties:
                            ru:
                              type: string
                              example: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                          description: "Заголовок конфигурации"
                        activationPeriod:
                          type: object
                          properties:
                            days:
                              type: integer
                              example: 30
                          description: "Период активации"
                        tags:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов тэгов"
                        description:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "This is a sample certificate configuration description in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Описание конфигурации"
                        summary:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "Sample certificate configuration summary in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Краткое описание конфигурации"
                        posterVertical:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Вертикальный постер"
                        posterHorizontal:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Горизонтальный постер"
                        background:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Фоновое изображение"
                        logo:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Логотип"
                        listImage:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Изображение списка"
                        certDesignUids:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов дизайна сертификата"
                        certDesignMedia:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Медиа дизайн сертификата"
                        pricesRange:
                          type: object
                          properties:
                            max:
                              type: number
                              nullable: true
                              example: null
                            min:
                              type: number
                              example: 200000
                          description: "Диапазон цен"
                        numberTemplate:
                          type: string
                          example: "CERT-####"
                          description: "Шаблон номера"
                        fiscalSettingsFlowUid:
                          type: string
                          nullable: true
                          example: null
                          description: "Идентификатор потока фискальных настроек"
                        predefinedPrices:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: number
                                example: 1
                              currency:
                                type: number
                                example: 1500000
                              precision:
                                type: number
                                example: 1
                          description: "Предопределенные цены"
                        singleUseOnly:
                          type: boolean
                          example: false
                          description: "Однократное использование"
                        sendAttachmentsToBuyer:
                          type: boolean
                          example: true
                          description: "Отправка вложений покупателю"
                        sendAttachmentsToGifted:
                          type: boolean
                          example: true
                          description: "Отправка вложений одаряемому"
                        serviceFee:
                          type: object
                          properties:
                            fee:
                              type: number
                              example: 10
                            value:
                              type: number
                              example: 10
                            currency:
                              type: string
                              example: "RUB"
                            operation:
                              type: string
                              example: "markup"
                            value_type:
                              type: string
                              example: "factor"
                            price_modifier:
                              type: object
                              properties:
                                value:
                                  type: number
                                  example: 10
                                operation:
                                  type: string
                                  example: "markup"
                                value_type:
                                  type: string
                                  example: "factor"
                                description:
                                  type: object
                                  properties:
                                    ru:
                                      type: string
                                      example: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                                maximum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                minimum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                formatted_value:
                                  type: string
                                  example: "+10%"
                            formatted_value:
                              type: string
                              example: "+10%"
                          description: "Сервисный сбор"
                        entity_icons:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: "название файла"
                              path:
                                type: string
                                example: "ссылка на изображение"
                              size:
                                type: number
                                example: 100327
                              type:
                                type: string
                                example: "image/png"
                              color:
                                type: array
                                items:
                                  type: integer
                                example: [36, 60, 108]
                              width:
                                type: number
                                example: 1509
                              height:
                                type: number
                                example: 946
                              palette:
                                type: array
                                items:
                                  type: array
                                  items:
                                    type: integer
                                example: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                              uploaded_at:
                                type: integer
                                example: 1635413367943
                          description: "Иконки сущности"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    items:
                      - uid: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                        createdAt: "2024-04-09T20:11:54.464Z"
                        updatedAt: "2024-04-09T20:11:54.464Z"
                        deletedAt: null
                        restrictionsUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        partnersUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        name: "Государственный"
                        shortName: "SCC"
                        user_friendly_url: "puppet"
                        title:
                          ru: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                        activationPeriod:
                          days: 30
                        tags: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        description:
                          en: "This is a sample certificate configuration description in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        summary:
                          en: "Sample certificate configuration summary in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        posterVertical:
                          en:
                            alt: "Vertical Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Vertical Poster (Russian)"
                            url: "ссылка на изображение"
                        posterHorizontal:
                          en:
                            alt: "Horizontal Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Horizontal Poster (Russian)"
                            url: "ссылка на изображение"
                        background:
                          en:
                            alt: "Background Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Background Image (Russian)"
                            url: "ссылка на изображение"
                        logo:
                          en:
                            alt: "logo"
                            url: "ссылка на изображение"
                          ru:
                            alt: "logo"
                            url: "ссылка на изображение"
                        listImage:
                          en:
                            alt: "List Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "List Image (Russian)"
                            url: "ссылка на изображение"
                        certDesignUids: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        certDesignMedia:
                          en:
                            alt: "Design Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Design Image (Russian)"
                            url: "ссылка на изображение"
                        pricesRange:
                          max: null
                          min: 200000
                        numberTemplate: "CERT-####"
                        fiscalSettingsFlowUid: null
                        predefinedPrices:
                          - amount: 1
                            currency: 1500000
                            precision: 1
                          - amount: 1
                            currency: 1000000
                            precision: 1
                          - amount: 1
                            currency: 500000
                            precision: 1
                          - amount: 1
                            currency: 200000
                            precision: 1
                        singleUseOnly: false
                        sendAttachmentsToBuyer: true
                        sendAttachmentsToGifted: true
                        serviceFee:
                          fee: 10
                          value: 10
                          currency: "RUB"
                          operation: "markup"
                          value_type: "factor"
                          price_modifier:
                            value: 10
                            operation: "markup"
                            value_type: "factor"
                            description:
                              ru: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                            maximum_value: null
                            minimum_value: null
                            formatted_value: "+10%"
                          formatted_value: "+10%"
                        entity_icons:
                          - name: "название файла"
                            path: "ссылка на изображение"
                            size: 100327
                            type: "image/png"
                            color: [36, 60, 108]
                            width: 1509
                            height: 946
                            palette: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                            uploaded_at: 1635413367943

    put:
      summary: Изменить один конфиг по UID
      x-exegesis-controller: cert-config.controller
      operationId: editConfigByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                shortName:
                  type: string
                user_friendly_url:
                  type: string
                backgroundImg:
                  type: string
                certDesignUid:
                  type: string
                minimalPrice:
                  type: number
                activationPeriod:
                  type: number
                predefinedPrices:
                  type: array
                  items:
                    type: number
                tagIds:
                  type: array
                  items:
                    type: string        
                serviceFee:
                  type: number
                logo:
                  type: string
      responses:
        200:
          description: OK

    delete:
      summary: Удалить один конфиг по UID
      x-exegesis-controller: cert-config.controller
      operationId: removeConfigByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /cert-design:
    post:
      summary: Создание дизайна
      x-exegesis-controller: cert-design.controller
      operationId: createDesign
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                textColor:
                  type: string
                name:
                  type: string
                description:
                  type: string
      responses:
        200:
          description: OK

    get:
      summary: Получить все дизайны
      x-exegesis-controller: cert-design.controller
      operationId: getAllDesign
      parameters:
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK

  /cert-design/{uid}:
    get:
      summary: Получить один дизайн по UID
      x-exegesis-controller: cert-design.controller
      operationId: getOneDesign
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK

    put:
      summary: Изменить один дизайн по UID
      x-exegesis-controller: cert-design.controller
      operationId: editDesignByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                textColor:
                  type: string
                name:
                  type: string
                description:
                  type: string
      responses:
        200:
          description: OK

    delete:
      summary: Удалить один дизайн по UID
      x-exegesis-controller: cert-design.controller
      operationId: removeDesignByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /certificate:
    post:
      summary: Создание сертификата
      x-exegesis-controller: certificate.controller
      operationId: createCertificate
      parameters:
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                certConfigUid:
                  type: string
                  example: "00386d00-60f2-434d-9ff7-5659e93098f7"
                  description: "Уникальный идентификатор конфигурации сертификата"
                certDesignUid:
                  type: string
                  example: "812040af-940c-4e26-a166-40ba3de7eb82"
                  description: "Уникальный идентификатор дизайна сертификата"
                nominalAmount:
                  type: object
                  properties:
                    amount:
                      type: number
                      example: 500000
                    currency:
                      type: string
                      example: "rub"
                    precision:
                      type: integer
                      example: 0
                validityRange:
                  type: string
                  nullable: true
                  example: null
                batch:
                  type: string
                  example: "batch"
                number:
                  type: string
                  example: "number"
                activateTill:
                  type: string
                  format: date-time
                  example: "2030-01-26T10:31:17.877Z"
                fiscalPaymentType:
                  type: string
                  example: "полный расчет"
                status:
                  type: string
                  example: "used"
                closeReason:
                  type: string
                  nullable: true
                  example: null
                usedAmount:
                  type: object
                  properties:
                    amount:
                      type: number
                      example: 0
                    currency:
                      type: string
                      example: "rub"
                    precision:
                      type: integer
                      example: 0
                from:
                  type: object
                  properties:
                    logo:
                      type: string
                      nullable: true
                      example: null
                    email:
                      type: string
                      example: "email@email.ru"
                    phone:
                      type: string
                      example: "phone"
                    wishes:
                      type: string
                      example: "wishes"
                    lastname:
                      type: string
                      example: "lastname"
                    firstname:
                      type: string
                      example: "firstname"
                to:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        example: "email@email.ru"
                      phone:
                        type: string
                        example: "phone"
                      lastname:
                        type: string
                        example: "lastname"
                      firstname:
                        type: string
                        example: "firstname"
                code:
                  type: string
                  example: "EED999999"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  certConfigUid:
                    type: string
                    example: "00386d00-60f2-434d-9ff7-5659e93098f7"
                  certDesignUid:
                    type: string
                    example: "812040af-940c-4e26-a166-40ba3de7eb82"
                  nominalAmount:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 500000
                      currency:
                        type: string
                        example: "rub"
                      precision:
                        type: integer
                        example: 0
                  validityRange:
                    type: string
                    nullable: true
                    example: null
                  batch:
                    type: string
                    example: "batch"
                  number:
                    type: string
                    example: "number"
                  activateTill:
                    type: string
                    format: date-time
                    example: "2030-01-26T10:31:17.877Z"
                  fiscalPaymentType:
                    type: string
                    example: "полный расчет"
                  status:
                    type: string
                    example: "used"
                  closeReason:
                    type: string
                    nullable: true
                    example: null
                  usedAmount:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 0
                      currency:
                        type: string
                        example: "rub"
                      precision:
                        type: integer
                        example: 0
                  from:
                    type: object
                    properties:
                      logo:
                        type: string
                        nullable: true
                        example: null
                      email:
                        type: string
                        example: "email@email.ru"
                      phone:
                        type: string
                        example: "phone"
                      wishes:
                        type: string
                        example: "wishes"
                      lastname:
                        type: string
                        example: "lastname"
                      firstname:
                        type: string
                        example: "firstname"
                  to:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          example: "email@email.ru"
                        phone:
                          type: string
                          example: "phone"
                        lastname:
                          type: string
                          example: "lastname"
                        firstname:
                          type: string
                          example: "firstname"
                  code:
                    type: string
                    example: "EED999999"
                  uid:
                    type: string
                    example: "e884738c-23e2-484b-aef2-9c183c369847"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    certConfigUid: "00386d00-60f2-434d-9ff7-5659e93098f7"
                    certDesignUid: "812040af-940c-4e26-a166-40ba3de7eb82"
                    nominalAmount:
                      amount: 500000
                      currency: "rub"
                      precision: 0
                    validityRange: null
                    batch: "batch"
                    number: "number"
                    activateTill: "2030-01-26T10:31:17.877Z"
                    fiscalPaymentType: "полный расчет"
                    status: "used"
                    closeReason: null
                    usedAmount:
                      amount: 0
                      currency: "rub"
                      precision: 0
                    from:
                      logo: null
                      email: "email@email.ru"
                      phone: "phone"
                      wishes: "wishes"
                      lastname: "lastname"
                      firstname: "firstname"
                    to:
                      - email: "email@email.ru"
                        phone: "phone"
                        lastname: "lastname"
                        firstname: "firstname"
                    code: "EED999999"
                    uid: "e884738c-23e2-484b-aef2-9c183c369847"

    get:
      summary: Получить все сертификаты
      x-exegesis-controller: certificate.controller
      operationId: getAllCertificate
      parameters: 
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                          example: "789e4567-e89b-12d3-a456-426614174000"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2030-01-26T10:31:17.877Z"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2030-11-09T10:26:32.533Z"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                        certConfigUid:
                          type: string
                          example: "789e4567-e89b-12d3-a456-426614174000"
                        certDesignUid:
                          type: string
                          example: "789e4567-e89b-12d3-a456-426614174000"
                        nominalAmount:
                          type: object
                          properties:
                            amount:
                              type: number
                              example: 500000
                            currency:
                              type: string
                              example: "rub"
                            precision:
                              type: integer
                              example: 0
                        validityRange:
                          type: string
                          nullable: true
                          example: null
                        batch:
                          type: string
                          example: "batch"
                        number:
                          type: string
                          example: "number"
                        activateTill:
                          type: string
                          format: date-time
                          example: "2030-01-26T10:31:17.877Z"
                        fiscalPaymentType:
                          type: string
                          example: "полный расчет"
                        status:
                          type: string
                          example: ""
                        closeReason:
                          type: string
                          nullable: true
                          example: null
                        usedAmount:
                          type: object
                          properties:
                            amount:
                              type: number
                              example: 0
                            currency:
                              type: string
                              example: "rub"
                            precision:
                              type: integer
                              example: 0
                        from:
                          type: object
                          properties:
                            logo:
                              type: string
                              nullable: true
                              example: null
                            email:
                              type: string
                              example: "email@email.ru"
                            phone:
                              type: string
                              example: "phone"
                            wishes:
                              type: string
                              example: "wishes"
                            lastname:
                              type: string
                              example: "lastname"
                            firstname:
                              type: string
                              example: "firstname"
                        to:
                          type: array
                          items:
                            type: object
                            properties:
                              email:
                                type: string
                                example: "email@email.ru"
                              phone:
                                type: string
                                example: "phone"
                              lastname:
                                type: string
                                example: "lastname"
                              firstname:
                                type: string
                                example: "firstname"
                        code:
                          type: string
                          example: "EED999999"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    items:
                      - uid: "789e4567-e89b-12d3-a456-426614174000"
                        createdAt: "2030-01-26T10:31:17.877Z"
                        updatedAt: "2030-11-09T10:26:32.533Z"
                        deletedAt: null
                        certConfigUid: "789e4567-e89b-12d3-a456-426614174000"
                        certDesignUid: "789e4567-e89b-12d3-a456-426614174000"
                        nominalAmount:
                          amount: 500000
                          currency: "rub"
                          precision: 0
                        validityRange: null
                        batch: "batch"
                        number: "number"
                        activateTill: "2030-01-26T10:31:17.877Z"
                        fiscalPaymentType: "полный расчет"
                        status: ""
                        closeReason: null
                        usedAmount:
                          amount: 0
                          currency: "rub"
                          precision: 0
                        from:
                          logo: null
                          email: "email@email.ru"
                          phone: "phone"
                          wishes: "wishes"
                          lastname: "lastname"
                          firstname: "firstname"
                        to:
                          - email: "email@email.ru"
                            phone: "phone"
                            lastname: "lastname"
                            firstname: "firstname"
                        code: "EED999999"

  /certificate/{uid}:
    get:
      summary: Получить один сертификат по UID
      x-exegesis-controller: certificate.controller
      operationId: getOneCertificate
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  certConfigUid:
                    type: string
                    example: "00386d00-60f2-434d-9ff7-5659e93098f7"
                  certDesignUid:
                    type: string
                    example: "812040af-940c-4e26-a166-40ba3de7eb82"
                  nominalAmount:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 500000
                      currency:
                        type: string
                        example: "rub"
                      precision:
                        type: integer
                        example: 0
                  validityRange:
                    type: string
                    nullable: true
                    example: null
                  batch:
                    type: string
                    example: "batch"
                  number:
                    type: string
                    example: "number"
                  activateTill:
                    type: string
                    format: date-time
                    example: "2030-01-26T10:31:17.877Z"
                  fiscalPaymentType:
                    type: string
                    example: "полный расчет"
                  status:
                    type: string
                    example: "used"
                  closeReason:
                    type: string
                    nullable: true
                    example: null
                  usedAmount:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 0
                      currency:
                        type: string
                        example: "rub"
                      precision:
                        type: integer
                        example: 0
                  from:
                    type: object
                    properties:
                      logo:
                        type: string
                        nullable: true
                        example: null
                      email:
                        type: string
                        example: "email@email.ru"
                      phone:
                        type: string
                        example: "phone"
                      wishes:
                        type: string
                        example: "wishes"
                      lastname:
                        type: string
                        example: "lastname"
                      firstname:
                        type: string
                        example: "firstname"
                  to:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          example: "email@email.ru"
                        phone:
                          type: string
                          example: "phone"
                        lastname:
                          type: string
                          example: "lastname"
                        firstname:
                          type: string
                          example: "firstname"
                  code:
                    type: string
                    example: "EED999999"
                  uid:
                    type: string
                    example: "e884738c-23e2-484b-aef2-9c183c369847"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    certConfigUid: "00386d00-60f2-434d-9ff7-5659e93098f7"
                    certDesignUid: "812040af-940c-4e26-a166-40ba3de7eb82"
                    nominalAmount:
                      amount: 500000
                      currency: "rub"
                      precision: 0
                    validityRange: null
                    batch: "batch"
                    number: "number"
                    activateTill: "2030-01-26T10:31:17.877Z"
                    fiscalPaymentType: "полный расчет"
                    status: "used"
                    closeReason: null
                    usedAmount:
                      amount: 0
                      currency: "rub"
                      precision: 0
                    from:
                      logo: null
                      email: "email@email.ru"
                      phone: "phone"
                      wishes: "wishes"
                      lastname: "lastname"
                      firstname: "firstname"
                    to:
                      - email: "email@email.ru"
                        phone: "phone"
                        lastname: "lastname"
                        firstname: "firstname"
                    code: "EED999999"
                    uid: "e884738c-23e2-484b-aef2-9c183c369847"

    put:
      summary: Изменить один сертификат по UID
      x-exegesis-controller: certificate.controller
      operationId: editCertificateByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                certConfigUid:
                  type: string
                  example: "00386d00-60f2-434d-9ff7-5659e93098f7"
                  description: "Уникальный идентификатор конфигурации сертификата"
                certDesignUid:
                  type: string
                  example: "812040af-940c-4e26-a166-40ba3de7eb82"
                  description: "Уникальный идентификатор дизайна сертификата"
                nominalAmount:
                  type: object
                  properties:
                    amount:
                      type: number
                      example: 500000
                    currency:
                      type: string
                      example: "rub"
                    precision:
                      type: integer
                      example: 0
                validityRange:
                  type: string
                  nullable: true
                  example: null
                batch:
                  type: string
                  example: "batch"
                number:
                  type: string
                  example: "number"
                activateTill:
                  type: string
                  format: date-time
                  example: "2030-01-26T10:31:17.877Z"
                fiscalPaymentType:
                  type: string
                  example: "полный расчет"
                status:
                  type: string
                  example: "used"
                closeReason:
                  type: string
                  nullable: true
                  example: null
                usedAmount:
                  type: object
                  properties:
                    amount:
                      type: number
                      example: 0
                    currency:
                      type: string
                      example: "rub"
                    precision:
                      type: integer
                      example: 0
                from:
                  type: object
                  properties:
                    logo:
                      type: string
                      nullable: true
                      example: null
                    email:
                      type: string
                      example: "email@email.ru"
                    phone:
                      type: string
                      example: "phone"
                    wishes:
                      type: string
                      example: "wishes"
                    lastname:
                      type: string
                      example: "lastname"
                    firstname:
                      type: string
                      example: "firstname"
                to:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        example: "email@email.ru"
                      phone:
                        type: string
                        example: "phone"
                      lastname:
                        type: string
                        example: "lastname"
                      firstname:
                        type: string
                        example: "firstname"
                code:
                  type: string
                  example: "EED999999"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  certConfigUid:
                    type: string
                    example: "00386d00-60f2-434d-9ff7-5659e93098f7"
                  certDesignUid:
                    type: string
                    example: "812040af-940c-4e26-a166-40ba3de7eb82"
                  nominalAmount:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 500000
                      currency:
                        type: string
                        example: "rub"
                      precision:
                        type: integer
                        example: 0
                  validityRange:
                    type: string
                    nullable: true
                    example: null
                  batch:
                    type: string
                    example: "batch"
                  number:
                    type: string
                    example: "number"
                  activateTill:
                    type: string
                    format: date-time
                    example: "2030-01-26T10:31:17.877Z"
                  fiscalPaymentType:
                    type: string
                    example: "полный расчет"
                  status:
                    type: string
                    example: "used"
                  closeReason:
                    type: string
                    nullable: true
                    example: null
                  usedAmount:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 0
                      currency:
                        type: string
                        example: "rub"
                      precision:
                        type: integer
                        example: 0
                  from:
                    type: object
                    properties:
                      logo:
                        type: string
                        nullable: true
                        example: null
                      email:
                        type: string
                        example: "email@email.ru"
                      phone:
                        type: string
                        example: "phone"
                      wishes:
                        type: string
                        example: "wishes"
                      lastname:
                        type: string
                        example: "lastname"
                      firstname:
                        type: string
                        example: "firstname"
                  to:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          example: "email@email.ru"
                        phone:
                          type: string
                          example: "phone"
                        lastname:
                          type: string
                          example: "lastname"
                        firstname:
                          type: string
                          example: "firstname"
                  code:
                    type: string
                    example: "EED999999"
                  uid:
                    type: string
                    example: "e884738c-23e2-484b-aef2-9c183c369847"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    certConfigUid: "00386d00-60f2-434d-9ff7-5659e93098f7"
                    certDesignUid: "812040af-940c-4e26-a166-40ba3de7eb82"
                    nominalAmount:
                      amount: 500000
                      currency: "rub"
                      precision: 0
                    validityRange: null
                    batch: "batch"
                    number: "number"
                    activateTill: "2030-01-26T10:31:17.877Z"
                    fiscalPaymentType: "полный расчет"
                    status: "used"
                    closeReason: null
                    usedAmount:
                      amount: 0
                      currency: "rub"
                      precision: 0
                    from:
                      logo: null
                      email: "email@email.ru"
                      phone: "phone"
                      wishes: "wishes"
                      lastname: "lastname"
                      firstname: "firstname"
                    to:
                      - email: "email@email.ru"
                        phone: "phone"
                        lastname: "lastname"
                        firstname: "firstname"
                    code: "EED999999"
                    uid: "e884738c-23e2-484b-aef2-9c183c369847"

    delete:
      summary: Удалить один сертификат по UID
      x-exegesis-controller: certificate.controller
      operationId: removeCertificateByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /cert-transactions:
    post:
      summary: Создание транзакции
      x-exegesis-controller: cert-transactions.controller
      operationId: createTransaction
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _classname:
                  type: string
                  example: "WriteOffTransactions"
                  description: |
                    - `TopupTransactions`: 'incoming' - Транзакции пополнения сертификата.
                    - `WriteOffTransactions`: 'outgoing' - Транзакции списания средств с сертификата.
                    - `ReturnWriteOffTransactions`: 'incoming' - Транзакции возврата средств на сертификат после списания.
                    - `RefundTransactions`: 'incoming' - Транзакции возврата средств.
                    - `FinalSettlementTransactions`: 'outgoing' - Транзакции окончательных расчетов.
                certUid:
                  type: string
                  example: "uuid сертификата"
                amount:
                  type: object
                  properties:
                    amount:
                      type: number
                      example: 500000
                    currency:
                      type: string
                      example: "rub"
                    precision:
                      type: integer
                      example: 0
                positions:
                  type: object
                  properties:
                    id:
                      type: string
                      example: "id"
                    price:
                      type: number
                      example: 5000
                    title:
                      type: string
                      example: "Оплата заказа в Ресторане"
                    taxRate:
                      type: string
                      example: "ru_nds_na"
                    quantity:
                      type: integer
                      example: 1
                    paymentType:
                      type: string
                      example: "fullPrepayment"
                    subjectType:
                      type: string
                      example: "service"
                direction:
                  type: string
                  example: "outgoing"
                partnerUid:
                  type: string
                  nullable: true
                  example: null
                meta:
                  type: object
                  properties:
                    Certificate:
                      type: object
                      properties:
                        _uuid:
                          type: string
                    Legal:
                      type: object
                      properties:
                        _uuid:
                          type: string
                        address:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        is_active:
                          type: integer
                        name:
                          type: object
                          properties:
                            ru:
                              type: string
                        tin:
                          type: string
                        updated_at:
                          type: string
                          format: date-time
                    Partner:
                      type: object
                      properties:
[...]
