openapi: 3.0.3

info:
  title: ZapomniSystems GiftService
  version: 1.0.0
  description: Программный интерфейс
  license:
    name: Коммерческая

servers:
  - url: https://gift-service.null.zapomni.systems/api/admin/v1

paths:
  /country:
    post:
      summary: Создание страны
      x-exegesis-controller: country.controller
      operationId: createCountry
      parameters:
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    get:
      summary: Получить все страны
      x-exegesis-controller: country.controller
      operationId: getAllCountry
      parameters:
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK

  /country/{uid}:
    get:
      summary: Получить одну страну по UID
      x-exegesis-controller: country.controller
      operationId: getOneCountry
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK

    put:
      summary: Изменить одну страну по UID
      x-exegesis-controller: country.controller
      operationId: editCountryByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    delete:
      summary: Удалить одну страну по UID
      x-exegesis-controller: country.controller
      operationId: removeCountryByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /city:
    post:
      summary: Создание города
      x-exegesis-controller: city.controller
      operationId: createCity
      parameters:
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    get:
      summary: Получить все города
      x-exegesis-controller: city.controller
      operationId: getAllCity
      parameters:
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK

  /city/{uid}:
    get:
      summary: Получить один город по UID
      x-exegesis-controller: city.controller
      operationId: getOneCity
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK

    put:
      summary: Изменить один город по UID
      x-exegesis-controller: city.controller
      operationId: editCityByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    delete:
      summary: Удалить один город по UID
      x-exegesis-controller: city.controller
      operationId: removeCityByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /legal:
    post:
      summary: Создание юрид.инфо
      x-exegesis-controller: legal.controller
      operationId: createLegal
      parameters:
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    get:
      summary: Получить все юрид.инфо
      x-exegesis-controller: legal.controller
      operationId: getAllLegal
      parameters:
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK

  /legal/{uid}:
    get:
      summary: Получить одну юрид.инфо по UID
      x-exegesis-controller: legal.controller
      operationId: getOneLegal
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK

    put:
      summary: Изменить одну юрид.инфо по UID
      x-exegesis-controller: legal.controller
      operationId: editLegalByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    delete:
      summary: Удалить одну юрид.инфо по UID
      x-exegesis-controller: legal.controller
      operationId: removeLegalByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /tag:
    post:
      summary: Создание тэга
      x-exegesis-controller: tag.controller
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _classname:
                  type: string
                  example: "certificateTag"
                  description: "Имя класса тэга"
                name:
                  type: object
                  properties:
                    ru:
                      type: string
                      example: "Название"
                      description: "Название тэга на русском языке"
                description:
                  type: string
                  example: "This is a sample tag"
                  description: "Описание тэга"
                summary:
                  type: string
                  example: "Sample summary"
                  description: "Краткое описание тэга"
                media:
                  type: string
                  example: "http://example.com/media"
                  description: "Ссылка на медиафайл, связанный с тэгом"
              example:
                _classname: "certificateTag"
                name:
                  ru: "Название"
                description: "This is a sample tag"
                summary: "Sample summary"
                media: "http://example.com/media"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "789e4567-e89b-12d3-a456-426614174000"
                    description: "Уникальный идентификатор созданного тэга"
                  _classname:
                    type: string
                    example: "certificateTag"
                    description: "Имя класса тэга"
                  name:
                    type: object
                    properties:
                      ru:
                        type: string
                        example: "Название"
                        description: "Название тэга"
                  description:
                    type: string
                    example: "This is a sample tag"
                    description: "Описание тэга"
                  summary:
                    type: string
                    example: "Sample summary"
                    description: "Краткое описание тэга"
                  media:
                    type: string
                    example: "http://example.com/media"
                    description: "Ссылка на медиафайл, связанный с тэгом"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    id: "789e4567-e89b-12d3-a456-426614174000"
                    _classname: "certificateTag"
                    name:
                      ru: "Название"
                    description: "This is a sample tag"
                    summary: "Sample summary"
                    media: "http://example.com/media"

    get:
      summary: Получить все тэги
      x-exegesis-controller: tag.controller
      operationId: getAllTag
      parameters:
        - name: page
          in: query
          description: Номер страницы
          required: false
          schema:
            type: integer
            minimum: 1
        - name: count
          in: query
          description: Количество элементов на странице
          required: false
          schema:
            type: integer
            minimum: 1
        - name: conditions
          in: query
          description: Условия фильтрации
          required: false
          schema:
            type: object
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        _classname:
                          type: string
                          example: "certificateTag"
                          description: "Имя класса тэга"
                        name:
                          type: object
                          properties:
                            ru:
                              type: string
                              example: "Название"
                              description: "Название тэга на русском языке"
                        description:
                          type: string
                          example: "This is a sample tag"
                          description: "Описание тэга"
                        summary:
                          type: string
                          example: "Sample summary"
                          description: "Краткое описание тэга"
                        media:
                          type: string
                          example: "http://example.com/media"
                          description: "Ссылка на медиафайл, связанный с тэгом"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-07-05T12:07:24.826Z"
                          description: "Дата и время последнего обновления"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                          description: "Дата и время удаления (если применимо)"
                        uid:
                          type: string
                          example: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                          description: "Уникальный идентификатор тэга"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-07-05T12:07:24.826Z"
                          description: "Дата и время создания"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    items:
                      - _classname: "certificateTag"
                        name:
                          ru: "Название"
                        description: "This is a sample tag"
                        summary: "Sample summary"
                        media: "http://example.com/media"
                        updatedAt: "2024-07-05T12:07:24.826Z"
                        deletedAt: null
                        uid: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                        createdAt: "2024-07-05T12:07:24.826Z"

  /tag/{uid}:
    get:
      summary: Получить один тэг по UID
      x-exegesis-controller: tag.controller
      operationId: getOneTag
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "789e4567-e89b-12d3-a456-426614174000"
                    description: "Уникальный идентификатор тэга"
                  _classname:
                    type: string
                    example: "certificateTag"
                    description: "Имя класса тэга"
                  name:
                    type: object
                    properties:
                      ru:
                        type: string
                        example: "Название"
                        description: "Название тэга"
                  description:
                    type: string
                    example: "This is a sample tag"
                    description: "Описание тэга"
                  summary:
                    type: string
                    example: "Sample summary"
                    description: "Краткое описание тэга"
                  media:
                    type: string
                    example: "http://example.com/media"
                    description: "Ссылка на медиафайл, связанный с тэгом"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    id: "789e4567-e89b-12d3-a456-426614174000"
                    _classname: "certificateTag"
                    name:
                      ru: "Название"
                    description: "This is a sample tag"
                    summary: "Sample summary"
                    media: "http://example.com/media"

    put:
      summary: Изменить один тэг по UID
      x-exegesis-controller: tag.controller
      operationId: editTagByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                _classname:
                  type: string
                  example: "certificateTag"
                  description: "Имя класса тэга"
                name:
                  type: object
                  properties:
                    ru:
                      type: string
                      example: "Название"
                      description: "Новое название тэга"
                description:
                  type: string
                  example: "This is a sample tag"
                  description: "Описание тэга"
                summary:
                  type: string
                  example: "Sample summary"
                  description: "Краткое описание тэга"
                media:
                  type: string
                  example: "http://example.com/media"
                  description: "Ссылка на медиафайл, связанный с тэгом"
              example:
                _classname: "certificateTag"
                name:
                  ru: "Название"
                description: "This is a sample tag"
                summary: "Sample summary"
                media: "http://example.com/media"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "789e4567-e89b-12d3-a456-426614174000"
                    description: "Уникальный идентификатор тэга"
                  _classname:
                    type: string
                    example: "certificateTag"
                    description: "Имя класса тэга"
                  name:
                    type: object
                    properties:
                      ru:
                        type: string
                        example: "Название"
                        description: "Название тэга"
                  description:
                    type: string
                    example: "This is a sample tag"
                    description: "Описание тэга"
                  summary:
                    type: string
                    example: "Sample summary"
                    description: "Краткое описание тэга"
                  media:
                    type: string
                    example: "http://example.com/media"
                    description: "Ссылка на медиафайл, связанный с тэгом"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    id: "789e4567-e89b-12d3-a456-426614174000"
                    _classname: "certificateTag"
                    name:
                      ru: "Название"
                    description: "This is a sample tag"
                    summary: "Sample summary"
                    media: "http://example.com/media"

    delete:
      summary: Удалить один тэг по UID
      x-exegesis-controller: tag.controller
      operationId: removeTagByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /partner:
    post:
      summary: Создание партнера
      x-exegesis-controller: partner.controller
      operationId: createPartner
      parameters:
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    get:
      summary: Получить всех партнеров
      x-exegesis-controller: partner.controller
      operationId: getAllPartner
      parameters:
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK

  /partner/{uid}:
    get:
      summary: Получить одного партнера по UID
      x-exegesis-controller: partner.controller
      operationId: getOnePartner
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK

    put:
      summary: Изменить одного партнера по UID
      x-exegesis-controller: partner.controller
      operationId: editPartnerByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

    delete:
      summary: Удалить одного партнера по UID
      x-exegesis-controller: partner.controller
      operationId: removePartnerByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        200:
          description: OK

  /cert-config:
    post:
      summary: Создание конфигурации
      x-exegesis-controller: cert-config.controller
      operationId: createConfig
      parameters:
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                restrictionsUid:
                  type: array
                  items:
                    type: string
                  example: ["789e4567-e89b-12d3-a456-426614174000"]
                  description: "Список уникальных идентификаторов ограничений"
                partnersUid:
                  type: array
                  items:
                    type: string
                  example: ["789e4567-e89b-12d3-a456-426614174000"]
                  description: "Список уникальных идентификаторов партнеров"
                name:
                  type: string
                  example: "Государственный"
                  description: "Название конфигурации"
                shortName:
                  type: string
                  example: "SCC"
                  description: "Краткое название конфигурации"
                user_friendly_url:
                  type: string
                  example: "puppet"
                  description: "Удобная для пользователя URL"
                title:
                  type: object
                  properties:
                    ru:
                      type: string
                      example: "<p>Сертификат дает право на посещение всех мероприятий</p>"
                  description: "Заголовок конфигурации"
                activationPeriod:
                  type: object
                  properties:
                    days:
                      type: integer
                      example: 30
                  description: "Период активации"
                tags:
                  type: array
                  items:
                    type: string
                  example: ["789e4567-e89b-12d3-a456-426614174000"]
                  description: "Список уникальных идентификаторов тэгов"
                description:
                  type: object
                  properties:
                    en:
                      type: string
                      example: "This is a sample certificate configuration description in English."
                    ru:
                      type: string
                      example: "Сертификат дает право на посещение всех мероприятий"
                  description: "Описание конфигурации"
                summary:
                  type: object
                  properties:
                    en:
                      type: string
                      example: "Sample certificate configuration summary in English."
                    ru:
                      type: string
                      example: "Сертификат дает право на посещение всех мероприятий"
                  description: "Краткое описание конфигурации"
                posterVertical:
                  type: object
                  properties:
                    en:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Vertical Poster (English)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                    ru:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Vertical Poster (Russian)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                  description: "Вертикальный постер"
                posterHorizontal:
                  type: object
                  properties:
                    en:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Horizontal Poster (English)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                    ru:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Horizontal Poster (Russian)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                  description: "Горизонтальный постер"
                background:
                  type: object
                  properties:
                    en:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Background Image (English)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                    ru:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Background Image (Russian)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                  description: "Фоновое изображение"
                logo:
                  type: object
                  properties:
                    en:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "logo"
                        url:
                          type: string
                          example: "ссылка на изображение"
                    ru:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "logo"
                        url:
                          type: string
                          example: "ссылка на изображение"
                  description: "Логотип"
                listImage:
                  type: object
                  properties:
                    en:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "List Image (English)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                    ru:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "List Image (Russian)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                  description: "Изображение списка"
                certDesignUids:
                  type: array
                  items:
                    type: string
                  example: ["789e4567-e89b-12d3-a456-426614174000"]
                  description: "Список уникальных идентификаторов дизайна сертификата"
                certDesignMedia:
                  type: object
                  properties:
                    en:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Design Image (English)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                    ru:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: "Design Image (Russian)"
                        url:
                          type: string
                          example: "ссылка на изображение"
                  description: "Медиа дизайн сертификата"
                pricesRange:
                  type: object
                  properties:
                    max:
                      type: number
                      nullable: true
                      example: null
                    min:
                      type: number
                      example: 200000
                  description: "Диапазон цен"
                numberTemplate:
                  type: string
                  example: "CERT-####"
                  description: "Шаблон номера"
                fiscalSettingsFlowUid:
                  type: string
                  nullable: true
                  example: null
                  description: "Идентификатор потока фискальных настроек"
                predefinedPrices:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 1
                      currency:
                        type: number
                        example: 1500000
                      precision:
                        type: number
                        example: 1
                  description: "Предопределенные цены"
                singleUseOnly:
                  type: boolean
                  example: false
                  description: "Однократное использование"
                sendAttachmentsToBuyer:
                  type: boolean
                  example: true
                  description: "Отправка вложений покупателю"
                sendAttachmentsToGifted:
                  type: boolean
                  example: true
                  description: "Отправка вложений одаряемому"
                serviceFee:
                  type: object
                  properties:
                    fee:
                      type: number
                      example: 10
                    value:
                      type: number
                      example: 10
                    currency:
                      type: string
                      example: "RUB"
                    operation:
                      type: string
                      example: "markup"
                    value_type:
                      type: string
                      example: "factor"
                    price_modifier:
                      type: object
                      properties:
                        value:
                          type: number
                          example: 10
                        operation:
                          type: string
                          example: "markup"
                        value_type:
                          type: string
                          example: "factor"
                        description:
                          type: object
                          properties:
                            ru:
                              type: string
                              example: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                        maximum_value:
                          type: number
                          nullable: true
                          example: null
                        minimum_value:
                          type: number
                          nullable: true
                          example: null
                        formatted_value:
                          type: string
                          example: "+10%"
                    formatted_value:
                      type: string
                      example: "+10%"
                  description: "Сервисный сбор"
                entity_icons:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "название файла"
                      path:
                        type: string
                        example: "ссылка на изображение"
                      size:
                        type: number
                        example: 100327
                      type:
                        type: string
                        example: "image/png"
                      color:
                        type: array
                        items:
                          type: integer
                        example: [36, 60, 108]
                      width:
                        type: number
                        example: 1509
                      height:
                        type: number
                        example: 946
                      palette:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        example: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                      uploaded_at:
                        type: integer
                        example: 1635413367943
                  description: "Иконки сущности"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  restrictionsUid:
                    type: array
                    items:
                      type: string
                    example: ["789e4567-e89b-12d3-a456-426614174000"]
                  partnersUid:
                    type: array
                    items:
                      type: string
                    example: ["789e4567-e89b-12d3-a456-426614174000"]
                  name:
                    type: string
                    example: "Государственный"
                  shortName:
                    type: string
                    example: "SCC"
                  user_friendly_url:
                    type: string
                    example: "puppet"
                  title:
                    type: object
                    properties:
                      ru:
                        type: string
                        example: "<p>Сертификат дает право на посещение всех мероприятий</p>"
                  activationPeriod:
                    type: object
                    properties:
                      days:
                        type: integer
                        example: 30
                  tags:
                    type: array
                    items:
                      type: string
                    example: ["789e4567-e89b-12d3-a456-426614174000"]
                  description:
                    type: object
                    properties:
                      en:
                        type: string
                        example: "This is a sample certificate configuration description in English."
                      ru:
                        type: string
                        example: "Сертификат дает право на посещение всех мероприятий"
                  summary:
                    type: object
                    properties:
                      en:
                        type: string
                        example: "Sample certificate configuration summary in English."
                      ru:
                        type: string
                        example: "Сертификат дает право на посещение всех мероприятий"
                  posterVertical:
                    type: object
                    properties:
                      en:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Vertical Poster (English)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                      ru:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Vertical Poster (Russian)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                  posterHorizontal:
                    type: object
                    properties:
                      en:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Horizontal Poster (English)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                      ru:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Horizontal Poster (Russian)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                  background:
                    type: object
                    properties:
                      en:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Background Image (English)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                      ru:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Background Image (Russian)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                  logo:
                    type: object
                    properties:
                      en:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "logo"
                          url:
                            type: string
                            example: "ссылка на изображение"
                      ru:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "logo"
                          url:
                            type: string
                            example: "ссылка на изображение"
                  listImage:
                    type: object
                    properties:
                      en:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "List Image (English)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                      ru:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "List Image (Russian)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                  certDesignUids:
                    type: array
                    items:
                      type: string
                    example: ["789e4567-e89b-12d3-a456-426614174000"]
                  certDesignMedia:
                    type: object
                    properties:
                      en:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Design Image (English)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                      ru:
                        type: object
                        properties:
                          alt:
                            type: string
                            example: "Design Image (Russian)"
                          url:
                            type: string
                            example: "ссылка на изображение"
                  pricesRange:
                    type: object
                    properties:
                      max:
                        type: number
                        nullable: true
                        example: null
                      min:
                        type: number
                        example: 200000
                  numberTemplate:
                    type: string
                    example: "CERT-####"
                  fiscalSettingsFlowUid:
                    type: string
                    nullable: true
                    example: null
                  predefinedPrices:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                          example: 1
                        currency:
                          type: number
                          example: 1500000
                        precision:
                          type: number
                          example: 1
                  singleUseOnly:
                    type: boolean
                    example: false
                  sendAttachmentsToBuyer:
                    type: boolean
                    example: true
                  sendAttachmentsToGifted:
                    type: boolean
                    example: true
                  serviceFee:
                    type: object
                    properties:
                      fee:
                        type: number
                        example: 10
                      value:
                        type: number
                        example: 10
                      currency:
                        type: string
                        example: "RUB"
                      operation:
                        type: string
                        example: "markup"
                      value_type:
                        type: string
                        example: "factor"
                      price_modifier:
                        type: object
                        properties:
                          value:
                            type: number
                            example: 10
                          operation:
                            type: string
                            example: "markup"
                          value_type:
                            type: string
                            example: "factor"
                          description:
                            type: object
                            properties:
                              ru:
                                type: string
                                example: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                          maximum_value:
                            type: number
                            nullable: true
                            example: null
                          minimum_value:
                            type: number
                            nullable: true
                            example: null
                          formatted_value:
                            type: string
                            example: "+10%"
                      formatted_value:
                        type: string
                        example: "+10%"
                  entity_icons:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "название файла"
                        path:
                          type: string
                          example: "ссылка на изображение"
                        size:
                          type: number
                          example: 100327
                        type:
                          type: string
                          example: "image/png"
                        color:
                          type: array
                          items:
                            type: integer
                          example: [36, 60, 108]
                        width:
                          type: number
                          example: 1509
                        height:
                          type: number
                          example: 946
                        palette:
                          type: array
                          items:
                            type: array
                            items:
                              type: integer
                          example: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                        uploaded_at:
                          type: integer
                          example: 1635413367943
                  updatedAt:
                    type: string
                    format: date-time
                    example: "2024-07-05T12:52:06.902Z"
                  deletedAt:
                    type: string
                    format: date-time
                    nullable: true
                    example: null
                  uid:
                    type: string
                    example: "789e4567-e89b-12d3-a456-426614174000"
                  createdAt:
                    type: string
                    format: date-time
                    example: "2024-07-05T12:52:06.902Z"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    restrictionsUid: ["789e4567-e89b-12d3-a456-426614174000"]
                    partnersUid: ["789e4567-e89b-12d3-a456-426614174000"]
                    name: "Государственный"
                    shortName: "SCC"
                    user_friendly_url: "puppet"
                    title:
                      ru: "<p>Сертификат дает право на посещение всех мероприятий</p>"
                    activationPeriod:
                      days: 30
                    tags: ["789e4567-e89b-12d3-a456-426614174000"]
                    description:
                      en: "This is a sample certificate configuration description in English."
                      ru: "Сертификат дает право на посещение всех мероприятий"
                    summary:
                      en: "Sample certificate configuration summary in English."
                      ru: "Сертификат дает право на посещение всех мероприятий"
                    posterVertical:
                      en:
                        alt: "Vertical Poster (English)"
                        url: ""
                      ru:
                        alt: "Vertical Poster (Russian)"
                        url: "ссылка на изображение"
                    posterHorizontal:
                      en:
                        alt: "Horizontal Poster (English)"
                        url: "ссылка на изображение"
                      ru:
                        alt: "Horizontal Poster (Russian)"
                        url: "ссылка на изображение"
                    background:
                      en:
                        alt: "Background Image (English)"
                        url: "ссылка на изображение"
                      ru:
                        alt: "Background Image (Russian)"
                        url: "ссылка на изображение"
                    logo:
                      en:
                        alt: "logo"
                        url: "ссылка на изображение"
                      ru:
                        alt: "logo"
                        url: "ссылка на изображение"
                    listImage:
                      en:
                        alt: "List Image (English)"
                        url: "ссылка на изображение"
                      ru:
                        alt: "List Image (Russian)"
                        url: "ссылка на изображение"
                    certDesignUids: ["789e4567-e89b-12d3-a456-426614174000"]
                    certDesignMedia:
                      en:
                        alt: "Design Image (English)"
                        url: "ссылка на изображение"
                      ru:
                        alt: "Design Image (Russian)"
                        url: "ссылка на изображение"
                    pricesRange:
                      max: null
                      min: 200000
                    numberTemplate: "CERT-####"
                    fiscalSettingsFlowUid: null
                    predefinedPrices:
                      - amount: 1
                        currency: 1500000
                        precision: 1
                      - amount: 1
                        currency: 1000000
                        precision: 1
                      - amount: 1
                        currency: 500000
                        precision: 1
                      - amount: 1
                        currency: 200000
                        precision: 1
                    singleUseOnly: false
                    sendAttachmentsToBuyer: true
                    sendAttachmentsToGifted: true
                    serviceFee:
                      fee: 10
                      value: 10
                      currency: "RUB"
                      operation: "markup"
                      value_type: "factor"
                      price_modifier:
                        value: 10
                        operation: "markup"
                        value_type: "factor"
                        description:
                          ru: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                        maximum_value: null
                        minimum_value: null
                        formatted_value: "+10%"
                      formatted_value: "+10%"
                    entity_icons:
                      - name: "название файла"
                        path: "ссылка на изображение"
                        size: 100327
                        type: "image/png"
                        color: [36, 60, 108]
                        width: 1509
                        height: 946
                        palette: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                        uploaded_at: 1635413367943
                    updatedAt: "2024-07-05T12:52:06.902Z"
                    deletedAt: null
                    uid: "789e4567-e89b-12d3-a456-426614174000"
                    createdAt: "2024-07-05T12:52:06.902Z"

    get:
      summary: Получить все конфиги
      x-exegesis-controller: cert-config.controller
      operationId: getAllConfig
      parameters:
      - name: page
        in: query
        description: Номер страницы
        required: false
        schema:
          type: integer
          minimum: 1
      - name: count
        in: query
        description: Количество элементов на странице
        required: false
        schema:
          type: integer
          minimum: 1
      - name: conditions
        in: query
        description: Условия фильтрации
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                          example: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                          description: "Уникальный идентификатор конфигурации"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время создания"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время последнего обновления"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                          description: "Дата и время удаления (если применимо)"
                        restrictionsUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов ограничений"
                        partnersUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов партнеров"
                        name:
                          type: string
                          example: "Государственный"
                          description: "Название конфигурации"
                        shortName:
                          type: string
                          example: "SCC"
                          description: "Краткое название конфигурации"
                        user_friendly_url:
                          type: string
                          example: "puppet"
                          description: "Удобная для пользователя URL"
                        title:
                          type: object
                          properties:
                            ru:
                              type: string
                              example: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                          description: "Заголовок конфигурации"
                        activationPeriod:
                          type: object
                          properties:
                            days:
                              type: integer
                              example: 30
                          description: "Период активации"
                        tags:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов тэгов"
                        description:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "This is a sample certificate configuration description in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Описание конфигурации"
                        summary:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "Sample certificate configuration summary in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Краткое описание конфигурации"
                        posterVertical:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Вертикальный постер"
                        posterHorizontal:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Горизонтальный постер"
                        background:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Фоновое изображение"
                        logo:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Логотип"
                        listImage:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Изображение списка"
                        certDesignUids:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов дизайна сертификата"
                        certDesignMedia:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Медиа дизайн сертификата"
                        pricesRange:
                          type: object
                          properties:
                            max:
                              type: number
                              nullable: true
                              example: null
                            min:
                              type: number
                              example: 200000
                          description: "Диапазон цен"
                        numberTemplate:
                          type: string
                          example: "CERT-####"
                          description: "Шаблон номера"
                        fiscalSettingsFlowUid:
                          type: string
                          nullable: true
                          example: null
                          description: "Идентификатор потока фискальных настроек"
                        predefinedPrices:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: number
                                example: 1
                              currency:
                                type: number
                                example: 1500000
                              precision:
                                type: number
                                example: 1
                          description: "Предопределенные цены"
                        singleUseOnly:
                          type: boolean
                          example: false
                          description: "Однократное использование"
                        sendAttachmentsToBuyer:
                          type: boolean
                          example: true
                          description: "Отправка вложений покупателю"
                        sendAttachmentsToGifted:
                          type: boolean
                          example: true
                          description: "Отправка вложений одаряемому"
                        serviceFee:
                          type: object
                          properties:
                            fee:
                              type: number
                              example: 10
                            value:
                              type: number
                              example: 10
                            currency:
                              type: string
                              example: "RUB"
                            operation:
                              type: string
                              example: "markup"
                            value_type:
                              type: string
                              example: "factor"
                            price_modifier:
                              type: object
                              properties:
                                value:
                                  type: number
                                  example: 10
                                operation:
                                  type: string
                                  example: "markup"
                                value_type:
                                  type: string
                                  example: "factor"
                                description:
                                  type: object
                                  properties:
                                    ru:
                                      type: string
                                      example: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                                maximum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                minimum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                formatted_value:
                                  type: string
                                  example: "+10%"
                            formatted_value:
                              type: string
                              example: "+10%"
                          description: "Сервисный сбор"
                        entity_icons:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: "название файла"
                              path:
                                type: string
                                example: "ссылка на изображение"
                              size:
                                type: number
                                example: 100327
                              type:
                                type: string
                                example: "image/png"
                              color:
                                type: array
                                items:
                                  type: integer
                                example: [36, 60, 108]
                              width:
                                type: number
                                example: 1509
                              height:
                                type: number
                                example: 946
                              palette:
                                type: array
                                items:
                                  type: array
                                  items:
                                    type: integer
                                example: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                              uploaded_at:
                                type: integer
                                example: 1635413367943
                          description: "Иконки сущности"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    items:
                      - uid: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                        createdAt: "2024-04-09T20:11:54.464Z"
                        updatedAt: "2024-04-09T20:11:54.464Z"
                        deletedAt: null
                        restrictionsUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        partnersUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        name: "Государственный"
                        shortName: "SCC"
                        user_friendly_url: "puppet"
                        title:
                          ru: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                        activationPeriod:
                          days: 30
                        tags: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        description:
                          en: "This is a sample certificate configuration description in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        summary:
                          en: "Sample certificate configuration summary in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        posterVertical:
                          en:
                            alt: "Vertical Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Vertical Poster (Russian)"
                            url: "ссылка на изображение"
                        posterHorizontal:
                          en:
                            alt: "Horizontal Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Horizontal Poster (Russian)"
                            url: "ссылка на изображение"
                        background:
                          en:
                            alt: "Background Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Background Image (Russian)"
                            url: "ссылка на изображение"
                        logo:
                          en:
                            alt: "logo"
                            url: "ссылка на изображение"
                          ru:
                            alt: "logo"
                            url: "ссылка на изображение"
                        listImage:
                          en:
                            alt: "List Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "List Image (Russian)"
                            url: "ссылка на изображение"
                        certDesignUids: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        certDesignMedia:
                          en:
                            alt: "Design Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Design Image (Russian)"
                            url: "ссылка на изображение"
                        pricesRange:
                          max: null
                          min: 200000
                        numberTemplate: "CERT-####"
                        fiscalSettingsFlowUid: null
                        predefinedPrices:
                          - amount: 1
                            currency: 1500000
                            precision: 1
                          - amount: 1
                            currency: 1000000
                            precision: 1
                          - amount: 1
                            currency: 500000
                            precision: 1
                          - amount: 1
                            currency: 200000
                            precision: 1
                        singleUseOnly: false
                        sendAttachmentsToBuyer: true
                        sendAttachmentsToGifted: true
                        serviceFee:
                          fee: 10
                          value: 10
                          currency: "RUB"
                          operation: "markup"
                          value_type: "factor"
                          price_modifier:
                            value: 10
                            operation: "markup"
                            value_type: "factor"
                            description:
                              ru: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                            maximum_value: null
                            minimum_value: null
                            formatted_value: "+10%"
                          formatted_value: "+10%"
                        entity_icons:
                          - name: "название файла"
                            path: "ссылка на изображение"
                            size: 100327
                            type: "image/png"
                            color: [36, 60, 108]
                            width: 1509
                            height: 946
                            palette: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                            uploaded_at: 1635413367943

  /cert-config/{uid}:
    get:
      summary: Получить один конфиг по UID
      x-exegesis-controller: cert-config.controller
      operationId: getOneConfig
      parameters:
        - $ref: '#/components/parameters/uid'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                          example: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                          description: "Уникальный идентификатор конфигурации"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время создания"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-04-09T20:11:54.464Z"
                          description: "Дата и время последнего обновления"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                          description: "Дата и время удаления (если применимо)"
                        restrictionsUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов ограничений"
                        partnersUid:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов партнеров"
                        name:
                          type: string
                          example: "Государственный"
                          description: "Название конфигурации"
                        shortName:
                          type: string
                          example: "SCC"
                          description: "Краткое название конфигурации"
                        user_friendly_url:
                          type: string
                          example: "puppet"
                          description: "Удобная для пользователя URL"
                        title:
                          type: object
                          properties:
                            ru:
                              type: string
                              example: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                          description: "Заголовок конфигурации"
                        activationPeriod:
                          type: object
                          properties:
                            days:
                              type: integer
                              example: 30
                          description: "Период активации"
                        tags:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов тэгов"
                        description:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "This is a sample certificate configuration description in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Описание конфигурации"
                        summary:
                          type: object
                          properties:
                            en:
                              type: string
                              example: "Sample certificate configuration summary in English."
                            ru:
                              type: string
                              example: "Сертификат дает право на посещение всех мероприятий"
                          description: "Краткое описание конфигурации"
                        posterVertical:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Vertical Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Вертикальный постер"
                        posterHorizontal:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Horizontal Poster (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Горизонтальный постер"
                        background:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Background Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Фоновое изображение"
                        logo:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "logo"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Логотип"
                        listImage:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "List Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Изображение списка"
                        certDesignUids:
                          type: array
                          items:
                            type: string
                          example: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                          description: "Список уникальных идентификаторов дизайна сертификата"
                        certDesignMedia:
                          type: object
                          properties:
                            en:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (English)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                            ru:
                              type: object
                              properties:
                                alt:
                                  type: string
                                  example: "Design Image (Russian)"
                                url:
                                  type: string
                                  example: "ссылка на изображение"
                          description: "Медиа дизайн сертификата"
                        pricesRange:
                          type: object
                          properties:
                            max:
                              type: number
                              nullable: true
                              example: null
                            min:
                              type: number
                              example: 200000
                          description: "Диапазон цен"
                        numberTemplate:
                          type: string
                          example: "CERT-####"
                          description: "Шаблон номера"
                        fiscalSettingsFlowUid:
                          type: string
                          nullable: true
                          example: null
                          description: "Идентификатор потока фискальных настроек"
                        predefinedPrices:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: number
                                example: 1
                              currency:
                                type: number
                                example: 1500000
                              precision:
                                type: number
                                example: 1
                          description: "Предопределенные цены"
                        singleUseOnly:
                          type: boolean
                          example: false
                          description: "Однократное использование"
                        sendAttachmentsToBuyer:
                          type: boolean
                          example: true
                          description: "Отправка вложений покупателю"
                        sendAttachmentsToGifted:
                          type: boolean
                          example: true
                          description: "Отправка вложений одаряемому"
                        serviceFee:
                          type: object
                          properties:
                            fee:
                              type: number
                              example: 10
                            value:
                              type: number
                              example: 10
                            currency:
                              type: string
                              example: "RUB"
                            operation:
                              type: string
                              example: "markup"
                            value_type:
                              type: string
                              example: "factor"
                            price_modifier:
                              type: object
                              properties:
                                value:
                                  type: number
                                  example: 10
                                operation:
                                  type: string
                                  example: "markup"
                                value_type:
                                  type: string
                                  example: "factor"
                                description:
                                  type: object
                                  properties:
                                    ru:
                                      type: string
                                      example: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                                maximum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                minimum_value:
                                  type: number
                                  nullable: true
                                  example: null
                                formatted_value:
                                  type: string
                                  example: "+10%"
                            formatted_value:
                              type: string
                              example: "+10%"
                          description: "Сервисный сбор"
                        entity_icons:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: "название файла"
                              path:
                                type: string
                                example: "ссылка на изображение"
                              size:
                                type: number
                                example: 100327
                              type:
                                type: string
                                example: "image/png"
                              color:
                                type: array
                                items:
                                  type: integer
                                example: [36, 60, 108]
                              width:
                                type: number
                                example: 1509
                              height:
                                type: number
                                example: 946
                              palette:
                                type: array
                                items:
                                  type: array
                                  items:
                                    type: integer
                                example: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                              uploaded_at:
                                type: integer
                                example: 1635413367943
                          description: "Иконки сущности"
              examples:
                example1:
                  summary: Пример успешного ответа
                  value:
                    items:
                      - uid: "78ca3795-e0c0-4a0b-b889-007bcd97aa6f"
                        createdAt: "2024-04-09T20:11:54.464Z"
                        updatedAt: "2024-04-09T20:11:54.464Z"
                        deletedAt: null
                        restrictionsUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        partnersUid: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        name: "Государственный"
                        shortName: "SCC"
                        user_friendly_url: "puppet"
                        title:
                          ru: "<p>Сертификат дает право на посещение всех мероприятий </p>"
                        activationPeriod:
                          days: 30
                        tags: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        description:
                          en: "This is a sample certificate configuration description in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        summary:
                          en: "Sample certificate configuration summary in English."
                          ru: "Сертификат дает право на посещение всех мероприятий"
                        posterVertical:
                          en:
                            alt: "Vertical Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Vertical Poster (Russian)"
                            url: "ссылка на изображение"
                        posterHorizontal:
                          en:
                            alt: "Horizontal Poster (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Horizontal Poster (Russian)"
                            url: "ссылка на изображение"
                        background:
                          en:
                            alt: "Background Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Background Image (Russian)"
                            url: "ссылка на изображение"
                        logo:
                          en:
                            alt: "logo"
                            url: "ссылка на изображение"
                          ru:
                            alt: "logo"
                            url: "ссылка на изображение"
                        listImage:
                          en:
                            alt: "List Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "List Image (Russian)"
                            url: "ссылка на изображение"
                        certDesignUids: ["78ca3795-e0c0-4a0b-b889-007bcd97aa6f"]
                        certDesignMedia:
                          en:
                            alt: "Design Image (English)"
                            url: "ссылка на изображение"
                          ru:
                            alt: "Design Image (Russian)"
                            url: "ссылка на изображение"
                        pricesRange:
                          max: null
                          min: 200000
                        numberTemplate: "CERT-####"
                        fiscalSettingsFlowUid: null
                        predefinedPrices:
                          - amount: 1
                            currency: 1500000
                            precision: 1
                          - amount: 1
                            currency: 1000000
                            precision: 1
                          - amount: 1
                            currency: 500000
                            precision: 1
                          - amount: 1
                            currency: 200000
                            precision: 1
                        singleUseOnly: false
                        sendAttachmentsToBuyer: true
                        sendAttachmentsToGifted: true
                        serviceFee:
                          fee: 10
                          value: 10
                          currency: "RUB"
                          operation: "markup"
                          value_type: "factor"
                          price_modifier:
                            value: 10
                            operation: "markup"
                            value_type: "factor"
                            description:
                              ru: "<p>Благодаря 10% сервисному сбору, пользователь получает полную сумму на баланс, а мы обеспечиваем поддержку.</p>"
                            maximum_value: null
                            minimum_value: null
                            formatted_value: "+10%"
                          formatted_value: "+10%"
                        entity_icons:
                          - name: "название файла"
                            path: "ссылка на изображение"
                            size: 100327
                            type: "image/png"
                            color: [36, 60, 108]
                            width: 1509
                            height: 946
                            palette: [[243, 60, 52], [36, 60, 108], [28, 60, 109], [92, 64, 84]]
                            uploaded_at: 1635413367943

    put:
      summary: Изменить один конфиг по UID
      x-exegesis-controller: cert-config.controller
      operationId: editConfigByUid
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
[...]
